CREATE OR ALTER   PROCEDURE [dbo].[usp_manage_categories]
    @type NVARCHAR(20),
    @category_id INT = NULL,
    @name NVARCHAR(100) = NULL,
    @description NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @type = 'GetAll'
    BEGIN
        SELECT
        category_id AS CategoryId,
        name AS Name,
        description AS Description,
        created_at AS CreatedAt
    FROM categories
    ORDER BY category_id;
    END
    ELSE IF @type = 'GetById'
    BEGIN
         SELECT
        category_id AS CategoryId,
        name AS Name,
        description AS Description,
        created_at AS CreatedAt
    FROM categories
    WHERE category_id = @category_id;
    END
    ELSE IF @type = 'Insert'
    BEGIN
        INSERT INTO categories (name, description)
        VALUES (@name, @description);

		 SELECT 'Category added successfully' AS Message, 1 AS Status;
    END
    ELSE IF @type = 'Update'
    BEGIN
	IF EXISTS (SELECT category_id FROM categories WHERE category_id <> @category_id AND name = @name)
		BEGIN
			SELECT 'category already exsist.' AS Message, 0 AS Status; 
		END
		ELSE
		BEGIN
			UPDATE categories
			SET name        = @name,
				description = @description
			WHERE category_id = @category_id;
				IF @@ROWCOUNT = 0
					SELECT 'Category not found' AS Message, 0 AS Status;
				ELSE
					SELECT 'Category updated successfully' AS Message, 1 AS Status;
		END
    END
    ELSE IF @type = 'Delete'
    BEGIN
		IF EXISTS (SELECT 1 FROM inventory_items WHERE category_id = @category_id)
		BEGIN
			SELECT  'Category cannot be deleted because it is already used by inventory items' AS Message, 0 AS Status; 
		END
		ELSE
		BEGIN
		 --DELETE FROM categories WHERE category_id = @category_id;
		 update categories set deleted_at=GETDATE(),is_deleted=1 where category_id=@category_id;
		 IF @@ROWCOUNT = 0
                SELECT 'Category not found' AS Message, 0 AS Status;
            ELSE
                SELECT 'Category deleted successfully' AS Message, 1 AS Status;
		END
    END
	ELSE IF @type = 'DropDown'
        BEGIN
            SELECT category_id AS Id, name AS Name
            FROM categories
            ORDER BY name;
    END
    ELSE
    BEGIN
        RAISERROR('Invalid @type. Use GetAll, GetById, Insert, Update, Delete.', 16, 1);
    END
END
