CREATE OR ALTER PROCEDURE [dbo].[usp_manage_payments]
    @type NVARCHAR(20),
    @payment_id INT = NULL,
    @rental_id INT = NULL,
    @amount DECIMAL(10,2) = NULL,
    @payment_date DATETIME = NULL,
    @payment_method NVARCHAR(20) = NULL,
    @transaction_ref NVARCHAR(100) = NULL,
    @payment_type NVARCHAR(30) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF @type = 'GetAll'
        BEGIN
            -- joined through rentals to customers so the list can show who paid, not just an id
            SELECT p.payment_id      AS PaymentId,
                   p.rental_id       AS RentalId,
                   c.first_name + ' ' + c.last_name AS CustomerName,
                   p.amount          AS Amount,
                   p.payment_date    AS PaymentDate,
                   p.payment_method  AS PaymentMethod,
                   p.transaction_ref AS TransactionRef,
                   p.payment_type    AS PaymentType,
                   p.created_at      AS CreatedAt
            FROM payments p
            JOIN rentals r ON r.rental_id = p.rental_id
            JOIN customers c ON c.customer_id = r.customer_id
            ORDER BY p.payment_id;
        END
        ELSE IF @type = 'GetById'
        BEGIN
            SELECT p.payment_id      AS PaymentId,
                   p.rental_id       AS RentalId,
                   c.first_name + ' ' + c.last_name AS CustomerName,
                   p.amount          AS Amount,
                   p.payment_date    AS PaymentDate,
                   p.payment_method  AS PaymentMethod,
                   p.transaction_ref AS TransactionRef,
                   p.payment_type    AS PaymentType,
                   p.created_at      AS CreatedAt
            FROM payments p
            JOIN rentals r ON r.rental_id = p.rental_id
            JOIN customers c ON c.customer_id = r.customer_id
            WHERE p.payment_id = @payment_id;
        END
        ELSE IF @type = 'Insert'
        BEGIN
            IF @amount IS NULL OR @amount <= 0
            BEGIN
                SELECT 'Amount must be greater than zero' AS Message, 0 AS Status;
                RETURN;
            END

            INSERT INTO payments
                (rental_id, amount, payment_date, payment_method, transaction_ref, payment_type)
            VALUES
                (@rental_id, @amount, ISNULL(@payment_date, GETDATE()), @payment_method,
                 @transaction_ref, @payment_type);

            SELECT 'Payment recorded successfully' AS Message, 1 AS Status;
        END
        ELSE IF @type = 'Update'
        BEGIN
            UPDATE payments
            SET rental_id       = @rental_id,
                amount          = @amount,
                payment_date    = @payment_date,
                payment_method  = @payment_method,
                transaction_ref = @transaction_ref,
                payment_type    = @payment_type
            WHERE payment_id = @payment_id;

            IF @@ROWCOUNT = 0
                SELECT 'Payment not found' AS Message, 0 AS Status;
            ELSE
                SELECT 'Payment updated successfully' AS Message, 1 AS Status;
        END
        ELSE IF @type = 'Delete'
        BEGIN
            DELETE FROM payments WHERE payment_id = @payment_id;

            IF @@ROWCOUNT = 0
                SELECT 'Payment not found' AS Message, 0 AS Status;
            ELSE
                SELECT 'Payment deleted successfully' AS Message, 1 AS Status;
        END
        ELSE
        BEGIN
            SELECT 'Invalid @type. Use GetAll, GetById, Insert, Update, Delete.' AS Message, 0 AS Status;
        END
    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS Message, 0 AS Status;
    END CATCH
END