CREATE OR ALTER PROCEDURE [dbo].[usp_manage_customers]
    @type NVARCHAR(20),
    @customer_id INT = NULL,
    @first_name NVARCHAR(100) = NULL,
    @last_name NVARCHAR(100) = NULL,
    @phone_number NVARCHAR(20) = NULL,
    @email NVARCHAR(150) = NULL,
    @address NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF @type = 'GetAll'
        BEGIN
            SELECT customer_id   AS CustomerId,
                   first_name    AS FirstName,
                   last_name     AS LastName,
                   phone_number  AS PhoneNumber,
                   email         AS Email,
                   address       AS Address,
                   created_at    AS CreatedAt
            FROM customers
            ORDER BY customer_id;
        END
        ELSE IF @type = 'GetById'
        BEGIN
            SELECT customer_id   AS CustomerId,
                   first_name    AS FirstName,
                   last_name     AS LastName,
                   phone_number  AS PhoneNumber,
                   email         AS Email,
                   address       AS Address,
                   created_at    AS CreatedAt
            FROM customers
            WHERE customer_id = @customer_id;
        END
        ELSE IF @type = 'Insert'
        BEGIN
            INSERT INTO customers (first_name, last_name, phone_number, email, address)
            VALUES (@first_name, @last_name, @phone_number, @email, @address);

            SELECT 'Customer added successfully' AS Message, 1 AS Status;
        END
        ELSE IF @type = 'Update'
        BEGIN
            UPDATE customers
            SET first_name   = @first_name,
                last_name    = @last_name,
                phone_number = @phone_number,
                email        = @email,
                address      = @address
            WHERE customer_id = @customer_id;

            IF @@ROWCOUNT = 0
                SELECT 'Customer not found' AS Message, 0 AS Status;
            ELSE
                SELECT 'Customer updated successfully' AS Message, 1 AS Status;
        END
        ELSE IF @type = 'Delete'
        BEGIN
            --DELETE FROM customers WHERE customer_id = @customer_id;
			update customers set deleted_at=GETDATE(),is_deleted=1 where customer_id=@customer_id;
            IF @@ROWCOUNT = 0
                SELECT 'Customer not found' AS Message, 0 AS Status;
            ELSE
                SELECT 'Customer deleted successfully' AS Message, 1 AS Status;
        END
        ELSE IF @type = 'DropDown'
        BEGIN
            SELECT customer_id AS Id,
                   first_name + ' ' + last_name AS Name
            FROM customers
            ORDER BY first_name, last_name;
        END
        ELSE
        BEGIN
            SELECT 'Invalid @type. Use GetAll, GetById, Insert, Update, Delete, DropDown.' AS Message, 0 AS Status;
        END
    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS Message, 0 AS Status;
    END CATCH
END