CREATE OR ALTER   PROCEDURE [dbo].[usp_manage_admin_users]
    @type NVARCHAR(20),
    @user_id INT = NULL,
    @username NVARCHAR(100) = NULL,
    @password_hash NVARCHAR(255) = NULL,
    @full_name NVARCHAR(150) = NULL,
    @email NVARCHAR(150) = NULL,
    @role_id INT = NULL,
    @is_active BIT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @type = 'GetAll'
    BEGIN
        SELECT u.*, r.role_name
        FROM admin_users u
        JOIN roles r ON r.role_id = u.role_id
        ORDER BY u.user_id;
    END
   ELSE IF @type = 'GetById'
BEGIN
    SELECT
        u.user_id AS UserId,
        u.username AS Username,
        u.password_hash AS PasswordHash,
        u.full_name AS FullName,
        u.email AS Email,
        u.role_id AS RoleId,
        r.role_name AS RoleName,
        u.is_active AS IsActive,
        u.created_at AS CreatedAt
    FROM admin_users u
    INNER JOIN roles r
        ON r.role_id = u.role_id
    WHERE u.user_id = @user_id;
END
    ELSE IF @type = 'Insert'
    BEGIN
        INSERT INTO admin_users (username, password_hash, full_name, email, role_id, is_active)
        VALUES (@username, @password_hash, @full_name, @email, @role_id, ISNULL(@is_active, 1));

		SELECT 'Admin user added successfully' AS Message, 1 AS Status;
    END
    ELSE IF @type = 'Update'
    BEGIN
        UPDATE admin_users
        SET username      = @username,
            full_name     = @full_name,
            email         = @email,
            role_id       = @role_id,
            is_active     = @is_active
        WHERE user_id = @user_id;
        -- password_hash intentionally not updated here; use a dedicated
        -- usp_change_admin_password proc if you want password changes audited separately.
		  IF @@ROWCOUNT = 0
                SELECT 'Admin user not found' AS Message, 0 AS Status;
            ELSE
                SELECT 'Admin user updated successfully' AS Message, 1 AS Status;
    END
    ELSE IF @type = 'Delete'
    BEGIN
        DELETE FROM admin_users WHERE user_id = @user_id;
		 IF @@ROWCOUNT = 0
                SELECT 'Admin user not found' AS Message, 0 AS Status;
            ELSE
                SELECT 'Admin user deleted successfully' AS Message, 1 AS Status;
    END
	 ELSE IF @type = 'DropDown'
        BEGIN
            SELECT user_id AS Id, username AS Name
            FROM admin_users
            WHERE is_active = 1
            ORDER BY username;
        END
    ELSE
    BEGIN
        RAISERROR('Invalid @type. Use GetAll, GetById, Insert, Update, Delete.', 16, 1);
    END
END
