CREATE OR ALTER   PROCEDURE [dbo].[usp_manage_roles]
    @type NVARCHAR(20),
    @role_id INT = NULL,
    @role_name NVARCHAR(50) = NULL,
    @description NVARCHAR(MAX) = NULL,
    @is_active BIT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @type = 'GetAll'
    BEGIN
        SELECT * FROM roles ORDER BY role_id;
    END
    ELSE IF @type = 'GetById'
    BEGIN
        SELECT * FROM roles WHERE role_id = @role_id;
    END
    ELSE IF @type = 'Insert'
    BEGIN
        INSERT INTO roles (role_name, description, is_active)
        VALUES (@role_name, @description, ISNULL(@is_active, 1));

		SELECT 'Role added successfully' AS Message, 1 AS Status;
    END
    ELSE IF @type = 'Update'
    BEGIN
        UPDATE roles
        SET role_name   = @role_name,
            description = @description,
            is_active   = @is_active
        WHERE role_id = @role_id;
		 IF @@ROWCOUNT = 0
                SELECT 'Role not found' AS Message, 0 AS Status;
            ELSE
                SELECT 'Role updated successfully' AS Message, 1 AS Status;

    END
    ELSE IF @type = 'Delete'
    BEGIN
        DELETE FROM roles WHERE role_id = @role_id;
		
            IF @@ROWCOUNT = 0
                SELECT 'Role not found' AS Message, 0 AS Status;
            ELSE
                SELECT 'Role deleted successfully' AS Message, 1 AS Status;
    END
	ELSE IF @type = 'DropDown'
	BEGIN
		SELECT role_id as Id,role_name as Name FROM roles where is_active=1 ORDER BY role_id;
	END
    ELSE
    BEGIN
        RAISERROR('Invalid @type. Use GetAll, GetById, Insert, Update, Delete.', 16, 1);
    END
END
