CREATE OR ALTER PROCEDURE [dbo].[usp_manage_rental_items]
    @type NVARCHAR(20),
    @rental_item_id INT = NULL,
    @rental_id INT = NULL,
    @item_id INT = NULL,
    @agreed_rent_price DECIMAL(10,2) = NULL,
    @condition_out NVARCHAR(MAX) = NULL,
    @condition_in NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF @type = 'GetAll'
        BEGIN
            -- joined to inventory_items so the list shows the item name/SKU, not just an id
            SELECT ri.rental_item_id   AS RentalItemId,
                   ri.rental_id        AS RentalId,
                   ri.item_id          AS ItemId,
                   i.sku_code          AS SkuCode,
                   i.name              AS ItemName,
                   ri.agreed_rent_price AS AgreedRentPrice,
                   ri.condition_out    AS ConditionOut,
                   ri.condition_in     AS ConditionIn,
                   ri.created_at       AS CreatedAt
            FROM rental_items ri
            JOIN inventory_items i ON i.item_id = ri.item_id
            ORDER BY ri.rental_item_id;
        END
        ELSE IF @type = 'GetById'
        BEGIN
            SELECT ri.rental_item_id   AS RentalItemId,
                   ri.rental_id        AS RentalId,
                   ri.item_id          AS ItemId,
                   i.sku_code          AS SkuCode,
                   i.name              AS ItemName,
                   ri.agreed_rent_price AS AgreedRentPrice,
                   ri.condition_out    AS ConditionOut,
                   ri.condition_in     AS ConditionIn,
                   ri.created_at       AS CreatedAt
            FROM rental_items ri
            JOIN inventory_items i ON i.item_id = ri.item_id
            WHERE ri.rental_item_id = @rental_item_id;
        END
        ELSE IF @type = 'Insert'
        BEGIN
            INSERT INTO rental_items
                (rental_id, item_id, agreed_rent_price, condition_out, condition_in)
            VALUES
                (@rental_id, @item_id, @agreed_rent_price, @condition_out, @condition_in);

            SELECT 'Rental item added successfully' AS Message, 1 AS Status;
        END
        ELSE IF @type = 'Update'
        BEGIN
            UPDATE rental_items
            SET rental_id          = @rental_id,
                item_id            = @item_id,
                agreed_rent_price  = @agreed_rent_price,
                condition_out      = @condition_out,
                condition_in       = @condition_in
            WHERE rental_item_id = @rental_item_id;

            IF @@ROWCOUNT = 0
                SELECT 'Rental item not found' AS Message, 0 AS Status;
            ELSE
                SELECT 'Rental item updated successfully' AS Message, 1 AS Status;
        END
        ELSE IF @type = 'Delete'
        BEGIN
            DELETE FROM rental_items WHERE rental_item_id = @rental_item_id;

            IF @@ROWCOUNT = 0
                SELECT 'Rental item not found' AS Message, 0 AS Status;
            ELSE
                SELECT 'Rental item deleted successfully' AS Message, 1 AS Status;
        END
        ELSE
        BEGIN
            SELECT 'Invalid @type. Use GetAll, GetById, Insert, Update, Delete.' AS Message, 0 AS Status;
        END
    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS Message, 0 AS Status;
    END CATCH
END