CREATE OR ALTER   PROCEDURE [dbo].[usp_get_menus_by_role]
    @role_id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
         m.menu_id as MenuId,
        m.menu_name as MenuName,
        m.parent_menu_id as ParentMenuId,
        m.menu_url as MenuUrl,
        m.icon_class as IconClass,
        m.display_order as DisplayOrder,
        rmp.can_view as CanView,
        rmp.can_add as CanAdd,
        rmp.can_edit as CanAdd,
        rmp.can_delete as CanDelete
    FROM menus m
    JOIN role_menu_permissions rmp
        ON rmp.menu_id = m.menu_id
       AND rmp.role_id = @role_id
    WHERE m.is_active = 1
      AND rmp.can_view = 1
    ORDER BY ISNULL(m.parent_menu_id, m.menu_id), m.parent_menu_id, m.display_order, m.menu_id;
END