CREATE OR ALTER PROCEDURE [dbo].[usp_manage_role_menu_permissions]
    @type NVARCHAR(20),
    @permission_id INT = NULL,
    @role_id INT = NULL,
    @menu_id INT = NULL,
    @can_view BIT = NULL,
    @can_add BIT = NULL,
    @can_edit BIT = NULL,
    @can_delete BIT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF @type = 'GetAll'
        BEGIN
            -- Joined with roles/menus so the app doesn't need a separate raw-SQL query for this
            SELECT rmp.permission_id AS PermissionId,
                   rmp.role_id       AS RoleId,
                   r.role_name       AS RoleName,
                   rmp.menu_id       AS MenuId,
                   m.menu_name       AS MenuName,
                   rmp.can_view      AS CanView,
                   rmp.can_add       AS CanAdd,
                   rmp.can_edit      AS CanEdit,
                   rmp.can_delete    AS CanDelete,
                   rmp.created_at    AS CreatedAt
            FROM role_menu_permissions rmp
            JOIN roles r ON r.role_id = rmp.role_id
            JOIN menus m ON m.menu_id = rmp.menu_id
            ORDER BY r.role_name, m.display_order, m.menu_id;
        END
        ELSE IF @type = 'GetById'
        BEGIN
            SELECT rmp.permission_id AS PermissionId,
                   rmp.role_id       AS RoleId,
                   r.role_name       AS RoleName,
                   rmp.menu_id       AS MenuId,
                   m.menu_name       AS MenuName,
                   rmp.can_view      AS CanView,
                   rmp.can_add       AS CanAdd,
                   rmp.can_edit      AS CanEdit,
                   rmp.can_delete    AS CanDelete,
                   rmp.created_at    AS CreatedAt
            FROM role_menu_permissions rmp
            JOIN roles r ON r.role_id = rmp.role_id
            JOIN menus m ON m.menu_id = rmp.menu_id
            WHERE rmp.permission_id = @permission_id;
        END
        ELSE IF @type = 'Insert'
        BEGIN
            INSERT INTO role_menu_permissions
                (role_id, menu_id, can_view, can_add, can_edit, can_delete)
            VALUES
                (@role_id, @menu_id, ISNULL(@can_view, 1), ISNULL(@can_add, 0),
                 ISNULL(@can_edit, 0), ISNULL(@can_delete, 0));

            SELECT 'Permission added successfully' AS Message, 1 AS Status;
        END
        ELSE IF @type = 'Update'
        BEGIN
            UPDATE role_menu_permissions
            SET role_id    = @role_id,
                menu_id    = @menu_id,
                can_view   = @can_view,
                can_add    = @can_add,
                can_edit   = @can_edit,
                can_delete = @can_delete
            WHERE permission_id = @permission_id;

            IF @@ROWCOUNT = 0
                SELECT 'Permission not found' AS Message, 0 AS Status;
            ELSE
                SELECT 'Permission updated successfully' AS Message, 1 AS Status;
        END
        ELSE IF @type = 'Delete'
        BEGIN
            DELETE FROM role_menu_permissions WHERE permission_id = @permission_id;

            IF @@ROWCOUNT = 0
                SELECT 'Permission not found' AS Message, 0 AS Status;
            ELSE
                SELECT 'Permission deleted successfully' AS Message, 1 AS Status;
        END
        ELSE
        BEGIN
            SELECT 'Invalid @type. Use GetAll, GetById, Insert, Update, Delete.' AS Message, 0 AS Status;
        END
    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS Message, 0 AS Status;
    END CATCH
END