CREATE OR ALTER   PROCEDURE [dbo].[usp_manage_menus]
    @type NVARCHAR(20),
    @menu_id INT = NULL,
    @menu_name NVARCHAR(100) = NULL,
    @parent_menu_id INT = NULL,
    @menu_url NVARCHAR(255) = NULL,
    @icon_class NVARCHAR(100) = NULL,
    @display_order INT = NULL,
    @is_active BIT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @type = 'GetAll'
    BEGIN
        SELECT menu_id as MenuId,menu_name as MenuName,parent_menu_id as ParentMenuId,menu_url as MenuUrl,icon_class as IconClass,display_order as DisplayOrder,is_active as IsActive FROM menus where is_active=1 ORDER BY parent_menu_id, display_order, menu_id;
    END
   ELSE IF @type = 'GetById'
BEGIN
    SELECT
        menu_id AS MenuId,
        menu_name AS MenuName,
        parent_menu_id AS ParentMenuId,
        menu_url AS MenuUrl,
        icon_class AS IconClass,
        display_order AS DisplayOrder,
        is_active AS IsActive
    FROM menus
    WHERE menu_id = @menu_id;
END
    ELSE IF @type = 'Insert'
    BEGIN
		IF EXISTS (SELECT 1 FROM menus WHERE display_order = @display_order )
		BEGIN
			SELECT 'Display order already exists' AS Message,0 AS Status;
			RETURN;
		END
		ELSE
		BEGIN
			INSERT INTO menus (menu_name, parent_menu_id, menu_url, icon_class, display_order, is_active)
			VALUES (@menu_name, @parent_menu_id, @menu_url, @icon_class,
					ISNULL(@display_order, 0), ISNULL(@is_active, 1));

			SELECT 'menu added succesfully' AS Message,1 as Status;
		END
    END
    ELSE IF @type = 'Update'
    BEGIN
		IF EXISTS (SELECT menu_id FROM menus WHERE menu_id <> @menu_id AND menu_name = @menu_name AND is_active = 1 )
		BEGIN
			SELECT 'Menu not found' AS Message, 0 AS Status; 
		END
		ELSE
		BEGIN
			UPDATE menus
			SET menu_name      = @menu_name,
				parent_menu_id = @parent_menu_id,
				menu_url       = @menu_url,
				icon_class     = @icon_class,
				display_order  = @display_order,
				is_active      = @is_active
			WHERE menu_id = @menu_id;

			IF @@ROWCOUNT = 0
			   SELECT 'menu not found' AS Message, 0 AS Status;
			ELSE
				SELECT 'menu updated succesfully' AS Message,1 as Status;
		END
    END
    ELSE IF @type = 'Delete'
    BEGIN
		IF EXISTS (SELECT menu_id FROM menus WHERE menu_id = @menu_id AND is_active = 0)
		BEGIN
			SELECT 'Menu not found' AS Message, 0 AS Status; 
		END
		ELSE
		BEGIN
			UPDATE menus SET is_active=0 where menu_id=@menu_id

			 IF @@ROWCOUNT = 0
					SELECT 'menu not found' AS Message, 0 AS Status;
				ELSE
					SELECT 'menu deleted succesfully' AS Message,1 as Status;
		END
    END
	ELSE IF @type = 'DropDown'
	BEGIN
		SELECT menu_id as Id,menu_name as Name FROM menus where is_active=1 ORDER BY menu_id;
	END
    ELSE
    BEGIN
        RAISERROR('Invalid @type. Use GetAll, GetById, Insert, Update, Delete.', 16, 1);
    END
END
